<div class="h-full w-full">
    <div class="flex  px-4">
        <div class="w-[50%] flex flex-col">
            <div class="flex flex-col"> 
                    <span class="text-2xl font-semibold">
                        Contact Information
                    </span>
                    <span class="text-xl">
                        Vestibulum volutpat, lacus a ultrices sagittis, mi neque euismod dui, eu pulvinar nunc sapien ornare nisl. Phasellus pede arcu, dapibus eu, fermentum et, dapibus sed, urna.
                    </span>
            </div>
            <div class="flex flex-col gap-2">
                <span class="text-2xl font-semibold">
                    The Office
                </span>
                <span class="flex gap-2">
                    <span>
                        <i class="fal fa-map-marker-alt"></i>
                    </span>
                    <span> 70 Washington Square South New York, NY 10012, United States</span>
                </span>
                <span class="flex gap-2">
                    <span>
                        <i class="fal fa-phone-alt"></i>
                    </span>
                    <span> +92 423 567</span>
                </span>
                <span class="flex gap-2">
                    <span>
                        <i class="fal fa-envelope"></i>
                    </span>
                    <span> info@email.com</span>
                </span>
            </div>
        </div>
        <div class="w-[50%] flex flex-col">
            
        </div>
    </div>
</div>