<div class=" h-full w-full flex items-center justify-center flex-col gap-2">
    <span class="font-bold text-black text-6xl  ">
        404
    </span>
    <button
        class="'flex items-center gap-2 rounded text-white cursor-pointer transition-all duration-3000 font-semibold ease border-none py-3 px-6 bg-green-600 shadow-[0_8px_0] shadow-green-700 active:shadow-none active:translate-y-[5px] focus:bg-green-700 focus:shadow-green-800"
        (click)="Redirect()">
        Go To Home
    </button>

</div>